body {
    margin: 0;
    padding: 0;
}
.container-fluid{ /*makes page contents span from end to end */
    margin: 0;
    padding: 0;
}
#header{
    background-image: url("../images/backgrounds/h_img.jpg"); /* sets image as header background */
    background-size: cover; /* preserves image's aspect ratio */
    position: sticky;
    text-align: center; /* align's text in the header*/
    color: white;
    width: 100%;
}
#header .logo{
    padding-top: 17%;
}
#header h1{
    font-size: 38px;
}
#header h6{
    font-size: 12px; 
}
#header .mouse-click{
    padding-bottom: 3%;
}
#aboutUs{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
p{ /*makes all paragraphs the same font size */
    font-size: 14px;
}
#services{
    background-image: url("../images/backgrounds/s_image.jpg"); /* sets image as background */
    background-size: cover; /* preserves image's aspect ratio */
    text-align: center;
    color: white;
}
#services .content{
    padding-top: 7%;
    padding-bottom: 8%;
}
#whatWeDo{
    text-align: center;
    padding-top: 3%;

}
#whatWeDo .row{
    padding: 0;
}
.col-md-4{
    padding: 4%;
}
.design-description{
    display: none;
    text-align: center;
}
.development-description{
    display: none;
    text-align: center;
}
.product-description{
    display: none;
    text-align: center;
}
#whatWeDo h6{
    font-size: 16px;
}
#portfolio{
    text-align: center;
    padding-bottom: 3%;
}
.row{
    padding-left: 12%;
    padding-right: 12%;
}
.col-md-3{ /* defines spacing between portfolio images */
    padding: 1%;
}
#portfolio img{
    object-fit:contain;
    width: 100%;
    height:auto;
}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8 {
    position: relative; 
}
.nam{
    height:74%;
    width: 74%;
    font-size: 24px;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 2%;
    text-align: left;
    left: 13%;
    bottom: 0;
    top: 13%;
    background-color: black;
    opacity: 0.6;
}
#contactUs{
    background-image: url("../images/backgrounds/c_image.jpg"); /* sets image as background */
    background-size: cover; /* preserves image's aspect ratio */
    text-align: center;
    color: white;
}
#contactUs h4{
    padding-top: 5%;
    padding-bottom: 2%;
}
.textarea{ /* position text box*/
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 7%;
}
.form-control{ /* makes background of input boxes transparent */
    background-color: transparent;
}
#name{
    color: white;
    background: transparent;
}
#email{
    color: white;
    background: transparent;
}
#message{
    color: white;
    background: transparent;
}
  
#socials{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}
#footer{
    font-size: 18px;
    text-align: center;
    padding-bottom: 3%;
}
#footer p{
    margin:0;
}